{
  "processors": [
  ],
  "extends": [
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-config-rational-order/plugin",
  ],
  "rules": {
    "prettier/prettier": true,
    "value-no-vendor-prefix": null,
  }
}
