.weather-card {
  max-width: 36rem;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-title {
  text-align: center;
}

.weather-title h5 {
  font-size: 3.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.weather-title p {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-top: 1rem;
}

.weather-information .info-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.weather-information .info-list ~ .info-list {
  margin-top: 1rem;
}

.info-list .info-title {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.info-list .info-text {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.info-list .info-text sup {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.weather-temperature {
  text-align: center;
}

.weather-temperature span {
  font-size: 3.6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.weather-temperature sup {
  font-size: 1.5rem;
  vertical-align: top;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.weather-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-icon {
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
